<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Appartment</button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <a
       href="#"
       class="list-group-item clearfix"
       *ngFor="let appartment of appartments">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ appartment.name }}</h4>
        <h5 class="list-group-item-heading">{{ appartment.link }}</h5>
      </div>
      <span class="pull-right">
        <img src="{{ appartment.imagePath }}" alt="{{ appartment.name }}" class="img-responsive" style="max-height: 50px;" />
      </span>
    </a>
  </div>
</div>
