<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Apartment name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn-group btn-primary dropdown-toggle">
        Manage Apartment <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To Apartment List</a></li>
        <li><a href="#">Edit Apartment</a></li>
        <li><a href="#">Delete Apartment</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Description
  </div>
</div>
