<div class="row">
  <div class="col-xs-12">
    <img [src]="apartment.imagePath"
         alt="{{ apartment.name }}"
         class="img-responsive"
         style="max-height: 400px"/>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ apartment.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="nav navbar-nav">
      <li appDropdown class="dropdown">
        <button type="button" class="btn-group btn-primary dropdown-toggle">
          Manage Apartment <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="onAddToPrefereceList()" style="cursor: pointer">To Preference List</a></li>
          <li><a style="cursor: pointer;" (click)="onEditApartment()">Edit Apartment</a></li>
          <li><a style="cursor: pointer;" (click)="onDeleteApartment()">Delete Apartment</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ apartment.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let apartmentAttribute of apartment.apartmentAttributes">
        {{ apartmentAttribute.name}} - {{ apartmentAttribute.score }}
      </li>
    </ul>
  </div>
</div>
