<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="preferencesForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Nome da plantilla</label>
          <input type="text"
                 id="name"
                 class="form-control"
                 formControlName="name"
                 required />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row form-group">
            <label for="price">Prezo</label>
            <mat-slider min="0" max="5" step="1" showTickMarks>
              <input matSliderThumb id="price"
                     class="form-control"
                     formControlName="price"
                     required>
            </mat-slider>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row form-group">
            <label for="size">Tamaño</label>
            <mat-slider min="0" max="5" step="1" showTickMarks>
              <input matSliderThumb id="size"
                     class="form-control"
                     formControlName="size"
                     required>
            </mat-slider>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row form-group">
            <label for="allowPets">Permite mascotas</label>
            <mat-slider min="0" max="3" step="1" showTickMarks>
              <input matSliderThumb id="allowPets"
                     class="form-control"
                     formControlName="allowPets"
                     required>
            </mat-slider>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row form-group">
            <label for="terrace">Terraza</label>
            <mat-slider min="0" max="3" step="1" showTickMarks>
              <input matSliderThumb id="terrace"
                     class="form-control"
                     formControlName="terrace"
                     required>
            </mat-slider>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row form-group">
            <label for="garage">Garaxe</label>
            <mat-slider min="0" max="3" step="1" showTickMarks>
              <input matSliderThumb id="garage"
                     class="form-control"
                     formControlName="garage"
                     required>
            </mat-slider>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row form-group">
            <label for="storageRoom">Trasteiro</label>
            <mat-slider min="0" max="3" step="1" showTickMarks>
              <input matSliderThumb id="storageRoom"
                     class="form-control"
                     formControlName="storageRoom"
                     required>
            </mat-slider>
          </div>
        </div>
      </div>
      <span>Debuxa as túas areas de preferencia</span>
      <div id="map"></div>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="areaName">Nome da area</label>
          <input type="text"
                 id="areaName"
                 class="form-control"
                 formControlName="areaName"
                 required />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 form-group">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let area of areas">
              {{ area.name }}
              <mat-slider min="0" max="5" step="1" showTickMarks>
                <input matSliderThumb id="score {{ area.name }}"
                       class="form-control"
                       formControlName="score {{ area.name }}"
                       required>
              </mat-slider>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit">{{ editMode ? 'Update' : 'Add' }}</button>
          <button class="btn btn-danger" type="button" (click)="onDelete()" *ngIf="editMode">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
