<div class="row">
  <div class="col-xs-4">
    <h1>Novo usuario</h1>
    <form>
      <div class="form-group">
        <label for="username"> Usuario </label>
        <input type="text" id="username" class="form-control">
      </div>
      <div class="form-group">
        <label for="password"> Contrasinal </label>
        <input type="password" id="password" class="form-control">
      </div>
      <div class="form-group">
        <label for="password"> Repite o contrasinal </label>
        <input type="password" id="password" class="form-control">
      </div>
      <div class="form-group">
        <button class="btn btn-primary"> Rexistrase </button>
      </div>
    </form>
  </div>
</div>
